
body {
  font-family: Raleway;
  color: #4fddfb;
  margin: 0;
  background-color: black;
  letter-spacing: .2em;
}

header > h1 {
  font-size:80px;
  font-family: Marquee Moon;
  padding-left: 90px;
  color: #fdf418;
}

.background {
  background-size: cover;
  height: 1000px;

  margin-top:8%;

}

.navbar {
  font-family: Marquee Moon;
  font-size: 60px;
  margin-left:0;
}

.text-center {
  border: solid #ffffff 10px;
  border-radius: 30px;
  border-style: double;
  border-color: #fe679f;
  margin-right: 215px;
  margin-left: 130px;
  padding-left: 120px;
  padding-bottom: 45px;

}
.h31 {
  margin-left: -22px;
}

ul {
  font-size: 20px;
  padding: 13px;
}

li > h1 {
  margin-left: -30px;

}


}
/*  #ea3be0*/
